@import "tailwindcss";

/* =========================
   GEIST
========================= */

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* =========================
   JETBRAINS MONO
========================= */

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* =========================
   GOOGLE SANS CODE
========================= */

@font-face {
  font-family: "Google Sans Code";
  src: url("./assets/fonts/GoogleSansCode[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("./assets/fonts/GoogleSansCode-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-logo: "Google Sans Code", monospace;

  --color-dark: #001840;
  --color-light: #eef4ff;
  --color-primary: #2c75ee;
  --color-secondary: #ad2cee;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Geist", sans-serif;
  color-scheme: dark;
}
